
window {
  background-color: #898989;
  font: Comic Sans 12;
}
button * {
  color: red;
}
view * {
    background-color: #898989;
    color: red;
}
.entry {
  color: #39f1f9;
}
/*@binding-set binding-set1 {
  bind "<shift><return>" { "send_message"};
  unbind "End";
};
@binding-set binding-set2 {
  bind "<shift><enter>" { "send_message"};
  unbind "End";
};
*/
