button {
  background-image: linear-gradient(#72EDF2, #5151E5);
}
/*label {
  background-image: linear-gradient(to top right, blue 20%, #f0f 80%);
}*/
window{
     background-image: linear-gradient(#FFF886, #F072B6);
}
@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

GtkSpinner {
  -gtk-icon-source: -gtk-icontheme('process-working-symbolic');
  -gtk-icon-palette: success blue, warning #fc3, error magenta;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
